{{ block "head_resources" . }}<script src="/js/jquery-migrate-1.4.1.min.js"></script><script src="/swipebox/js/jquery.swipebox.min.js"></script><link rel="stylesheet" href="/swipebox/css/swipebox.min.css"/><link rel="stylesheet" href="/justified_gallery/justifiedGallery.css"/><script src="/justified_gallery/jquery.justifiedGallery.js"></script><script>   $( document ).ready(function() {
       $("#gallery").justifiedGallery({
       rowHeight : {{ .Site.Params.galleryRowHeight | default 200}},
       margins : {{ .Site.Params.galleryMargins | default 5}},
       border : 0,
       })
       .on('jg.complete', function () {
       $('.galleryImg').swipebox();
       });
   });
| {{ end }}
|
|
| {{ define "section_content" }}
   .wrap
       .section#content
           h1 {{ .Title }}
           | {{ .Content }}
       |
       div#gallery
           |
           | {{ $name := .Site.Params.galleryFolder | default "images/"}}
           | {{ $path := "gallery/" }}
           | {{ $content := "/content/" }}
           | {{ $src := (print $path $name) }}
           |
           | {{ $folder := (print $content $path $name) }}
           |
           | {{ $files := readDir $folder }}
           | 
           | {{ $previewSubdirectory := .Site.Params.smallImagesSubfolder | default "small/"}}
           | {{ $previewImagesEnabled := .Site.Params.smallPreviewImages }}
           |
           | {{ if .Site.Params.clickablePhotos }}
           | {{ range shuffle $files }}
           |
           | {{ if not .IsDir }}
           div
               a(href='{{ $src | absURL }}{{.Name }}' class="galleryImg")
                   | {{ if $previewImagesEnabled}}
                   img(src='{{ $src | absURL }}{{ $previewSubdirectory }}{{ .Name }}' alt='{{ .Name }}')
                   | {{ else }}
                   img(src='{{ $src | absURL }}{{ .Name }}' alt='{{ .Name }}')
                   | {{ end }}
           | {{ end }}
           |
           | {{ end }}
           | {{ else }}
           | {{ range shuffle $files }}
           |
           | {{ if not .IsDir }}
           div
               img(src='{{ $src | absURL }}{{ .Name }}' alt='{{ .Name }}')
           | {{ end }}
           |
           | {{ end }}
       | {{ end }}
       | {{ if .Site.Params.mainMenu }}
       .section.bottom-menu
           | {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" false) }}
       | {{ end }}
       .section.footer
           | {{ partial "footer.html" . }}</script>{{ end }}