| {{ partial "head.html" . }}

body
    | 
    link(rel='stylesheet' href='/justified_gallery/justifiedGallery.css')
    script(src="/justified_gallery/jquery.justifiedGallery.js")
    script.
      $( document ).ready(function() {
          $("#gallery").justifiedGallery({
            rowHeight : {{ .Site.Params.galleryRowHeight | default 200}},
            margins : {{ .Site.Params.galleryMargins | default 5}},
          });
        });
    .wrap
        .section#content
            | {{ .Content }}
        |
        div#gallery
            |
            | {{ $name := .Site.Params.galleryFolder | default "images/"}}
            | {{ $path := "gallery/" }}
            | {{ $content := "/content/" }}
            | {{ $src := (print $path $name) }}
            |
            | {{ $folder := (print $content $path $name) }}
            |
            | {{ $files := readDir $folder }}
            |
            | {{ if .Site.Params.clickablePhotos }}
            | {{ range shuffle $files }}
            |
            div
                |
                a(href='{{ $src | absURL }}{{.Name }}')
                    img(src='{{ $src | absURL }}{{.Name }}')
            |
            | {{ end }}
            | {{ else }}
            | {{ range shuffle $files }}
            |
            div
                |
                img(src='{{ $src | absURL }}{{.Name }}')
            |
            | {{ end }}
            |
            | {{ end }}
        |
        | {{ if .Site.Params.mainMenu }}
        .section.bottom-menu
            hr
            p
                | {{ range first 1 .Site.Params.mainMenu }}
                a(href='{{ .link }}') {{ .text }}
                | {{ end }}
                | {{ if ( gt ( len .Site.Params.mainMenu ) 1 ) }}
                | {{ range after 1 .Site.Params.mainMenu }}
                | &#183; 
                a(href='{{ .link }}') {{ .text }}
                | {{ end }}
                | {{ end }}
                | &#183; 
                a(href='{{.Site.BaseURL}}') {{ .Site.Params.homepage }}
        | {{ end }}
        .section.footer
            | {{ partial "footer.html" . }}
