| {{ define "head_resources" }}
script(src="/shortcode-gallery/jquery-migrate-1.4.1.min.js")
|
script(src="/shortcode-gallery/swipebox/js/jquery.swipebox.min.js")
link(rel="stylesheet" href="/shortcode-gallery/swipebox/css/swipebox.min.css")
|
script(src="/shortcode-gallery/justified_gallery/jquery.justifiedGallery.min.js")
link(rel='stylesheet' href='/shortcode-gallery/justified_gallery/justifiedGallery.min.css')
|
script.
    $( document ).ready(function() {
        $("#gallery").justifiedGallery({
            rowHeight : {{ .Site.Params.galleryRowHeight | default 200}},
            margins : {{ .Site.Params.galleryMargins | default 5}},
            border : 0,
        })
        .on('jg.complete', function () {
            $('.galleryImg').swipebox();
        });
    });
| {{ end }}
|
|
| {{ define "section_content" }}
.section#content
    | {{ .Content }}
    |
    div#gallery
                |
                | {{ $name := .Site.Params.galleryFolder | default "images/"}}
                | {{ $path := "gallery/" }}
                | {{ $content := "/content/" }}
                | {{ $src := (print $path $name) }}
                |
                | {{ $folder := (print $content $path $name) }}
                |
                | {{ $files := readDir $folder }}
                | 
                | {{ $previewSubdirectory := .Site.Params.smallImagesSubfolder | default "small/"}}
                | {{ $previewImagesEnabled := .Site.Params.smallPreviewImages }}
                |
                | {{ if .Site.Params.clickablePhotos }}
                | {{ range shuffle $files }}
                |
                | {{ if not .IsDir }}
                div
                    a(href='{{ $src | absURL }}{{.Name }}' class="galleryImg")
                        | {{ if $previewImagesEnabled}}
                        img(src='{{ $src | absURL }}{{ $previewSubdirectory }}{{ .Name }}')
                        | {{ else }}
                        img(src='{{ $src | absURL }}{{ .Name }}')
                        | {{ end }}
                | {{ end }}
                |
                | {{ end }}
                | {{ else }}
                | {{ range shuffle $files }}
                |
                | {{ if not .IsDir }}
                div
                    img(src='{{ $src | absURL }}{{ .Name }}')
                | {{ end }}
                |
                | {{ end }}
    | {{ end }}
| {{ end }}